<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
      tr:nth-child(odd) {background-color:rgb(233, 229, 229);}
      table {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:12px;width:350px;}
      td {height: 30px;}
    </style>
  
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars news data > -->
    <div class="row">
      <div class="col-lg-12">
        <h4>Latest Mars News</h4>
        <medium><b>{{mars.news_title}}</b><medium>
        <br>
        <small>{{mars.news_p}}</small>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-lg-8">
        <h4>Featured Mars Image</h4>
        <img src="{{ mars.featured_image_url }}" alt="Mars Featured Image" width=700px height=500px>
      </div>
      <div class="col-lg-4">
        <h4>Mars Facts</h4>
        <div> {{ mars.mars_facts|safe}} </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-lg-12">
        <h4 class="heading"><center>Mars Hemispheres</center></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        
        {{ mars.hemisphere_image_urls[0]}}

      </div>
    </div>

</body>

</html>